{% load static %}

<!-- All javascript related code used in base.html -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/moment.js' %}"></script>